*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
libs/
sampledata/
src/main/java/com/pawankhandal52/meditime/adapter/
src/main/java/com/pawankhandal52/meditime/fragment/
src/main/java/com/pawankhandal52/meditime/networking/
src/main/java/com/pawankhandal52/meditime/services/
src/main/java/com/pawankhandal52/meditime/viewmodels/
